[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "mixins/apt-cyg"]
	path = mixins/apt-cyg
	url = https://github.com/rcmdnk/apt-cyg
[submodule "mixins/irssi-notifier"]
	path = mixins/irssi-notifier
	url = https://github.com/paddykontschak/irssi-notifier
[submodule "mixins/irssi-nickcolor"]
	path = mixins/irssi-nickcolor
	url = https://github.com/Dutchy-/irssi-nickcolor
[submodule "mixins/vim-pathogen"]
	path = mixins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
	ignore = dirty
	branch = master
